<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
      />
      <div *ngIf="email.touched && email.invalid" class="form-text text-danger">
        <strong *ngIf="email.errors?.['required']">Email is required.</strong>
        <strong *ngIf="email.errors?.['email']">Invalid email format.</strong>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password="ngModel"
        required
      />
      <div *ngIf="password.touched && password.invalid" class="form-text text-danger">
        <strong *ngIf="password.errors?.['required']">Password is required.</strong>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>
  <br>
  <p>Don't have an account? <a [routerLink]="['/register']">Register </a></p>